.purched_key {
    color: red;
    font-weight: bold;
    text-align: left;
}

.widget-font {
    font-size: 14px;
}

.edit_widget {
    margin-left: 10px;
}

.widget_title {
    color: red;
    font-size: 15px;
    font-weight: bold;
}

.main_title {
    font-size: 18px;
}

.got_to_setting {
    font-size: 16px;
}

.card_new {
    margin-top: 20px !important;
    padding: .7em 2em 1em;
    min-width: 255px;
    border: 1px solid #ccd0d4;
    box-shadow: 0 1px 1px rgb(0 0 04%);
    background: #fff;
    box-sizing: border-box;
    margin-left: 25%;
    margin-right: 25%
}

.font_bold {
    font-weight: bold;
}

.panel-height {
    height: 7%;
}

.between {
    height: 15%;
}

.panel-scrol{
    height: 90%;
    overflow-y: scroll;
}